@model FR_Web.Models.ViewModel.QuizzViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Quizz/_QuizzLayout.cshtml";
}

<h2>Edit Quizz</h2>
@Html.ValidationSummary()
@Html.HiddenFor(m => m.quizz.QuizzId)

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.quizz.Niveau, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.quizz.Niveau, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.quizz.Niveau, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SelectedQuestionIds, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.ListBoxFor(m => m.SelectedQuestionIds, Model.AvailableQuestions, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.AvailableQuestions, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Edit" class="btn btn-default" />
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}