@model FR_DataAccessLayer.Models.QuestionReponse

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>QuestionReponse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Question.Niveau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question.Niveau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reponse.Libelle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reponse.Libelle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vraie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vraie)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
