@model FR_Web.Models.Reponse
@{
    ViewBag.Title = "Create";
}

<h2>Edit Response</h2>
@Html.ValidationSummary()

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.ReponseId)
    <div class="form-group">
        @Html.LabelFor(m => m.Libelle, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Libelle, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Libelle, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

